* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 1200px;
    margin: 0px auto;
}

.card {
    border: 5px solid #cf9dfc;
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

#card-container {
    display: flex;
    gap: 36px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card button:hover {
    background-color: #0056b3;
}

.card button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}